<mat-toolbar color="warn">
  <span>ETDB consultation</span>
</mat-toolbar>
<mat-card mat-card class="info-card">
  <mat-card-header>
    <mat-card-title>Information</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    This application provides the possibility to generate the information of a provider, institution or medical device.
  </mat-card-content>
  <mat-card-header>
    <mat-card-subtitle>How to</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    Enter the correct values into the form. First you need to enter a valid RIZIV/INAMI number with a maximum of eight numbers. Then you enter the prestation date so you get the information 
    which was valid on that date. Finally, you enter the attribute data.
  </mat-card-content>
</mat-card>