<mat-card mat-card class="info-card">
  <mat-card-header>
    <mat-card-title>Information</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    This application provides the possibility to generate the information of a provider, institution or medical device.
  </mat-card-content>
  <mat-card-header>
    <mat-card-subtitle>How to</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    Enter the correct values into the form. First you need to enter a valid RIZIV/INAMI number with a maximum of eight numbers. Then you enter a prestation date so you can get the information 
    that was valid on that date. Finally, you enter the attribute data.
  </mat-card-content>
</mat-card>
<form [formGroup] = "inputForm" (ngSubmit)="onSubmit()" class="form-container">
<mat-card mat-card class="data-card">
    <mat-card-header>
      <mat-card-title>Search</mat-card-title>
    </mat-card-header>
    <mat-form-field appearance="fill">
      <mat-label>RIZIV/INAMI number</mat-label>
      <input formControlName="iriziv_n" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Attribute class</mat-label>
      <mat-select formControlName="iclass">
        <mat-option value="HCW">HCW</mat-option>
        <mat-option value="HCI">HCI</mat-option>
        <mat-option value="HCA">HCA</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Prestation date</mat-label>
      <input formControlName="iprestdate" matInput [matDatepicker]="picker"> 
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
      <button type="submit" mat-raised-button color="warn" [disabled]="!inputForm.valid">OK</button>
  </mat-card>
</form>
<mat-card class="error" *ngIf="errorMessage" data-cy="appError">
  got an error while searching: {{ errorMessage }}
</mat-card>

