.data-card {
    max-width: 30%;
    margin: 0 auto;
    vertical-align: middle;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    
}

mat-form-field {
    width: 80%;
}

button {
    margin: 8px 8px 8px 0;
}

@media only screen and (max-width: 1000px) {
    .data-card {
        max-width: 100%;
    }
  }